@import "tailwindcss";

@font-face {
  font-family: 'Google Sans';
  src: url('/fonts/GoogleSans-VariableFont.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: 'Google Sans';
  src: url('/fonts/GoogleSans-Italic.ttf') format('truetype');
  font-weight: 100 900;
  font-style: italic;
}

:root {
  --background: #c7cdff;
  --foreground: #0f172a;

  /* Brand colors based on logo (#262c91) */
  --color-brand-50: #eef0ff;
  --color-brand-100: #e0e4ff;
  --color-brand-200: #c7cdff;
  --color-brand-300: #a4adfc;
  --color-brand-400: #949cd4;
  /* LightVibrant */
  --color-brand-500: #5c64a5;
  /* Muted */
  --color-brand-600: #3b429f;
  --color-brand-700: #262c91;
  /* Vibrant Base */
  --color-brand-800: #1f2479;
  /* DarkMuted */
  --color-brand-900: #1b1f69;
  /* DarkVibrant */
  --color-brand-950: #0f1240;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: 'Google Sans', ui-sans-serif, system-ui, sans-serif;
  --font-mono: var(--font-geist-mono), ui-monospace, SFMono-Regular, monospace;

  /* Adding custom colors */
  --color-brand-50: var(--color-brand-50);
  --color-brand-100: var(--color-brand-100);
  --color-brand-200: var(--color-brand-200);
  --color-brand-300: var(--color-brand-300);
  --color-brand-400: var(--color-brand-400);
  --color-brand-500: var(--color-brand-500);
  --color-brand-600: var(--color-brand-600);
  --color-brand-700: var(--color-brand-700);
  --color-brand-800: var(--color-brand-800);
  --color-brand-900: var(--color-brand-900);
  --color-brand-950: var(--color-brand-950);

  --color-primary: var(--color-brand-700);
  --color-primary-hover: var(--color-brand-800);
  --color-secondary: var(--color-brand-400);

  /* Weight Constraints (not beyond font-semibold) */
  --font-weight-bold: 600;
  --font-weight-extrabold: 600;
  --font-weight-black: 600;

  /* Size Constraints (not beyond text-xl) */
  --text-2xl: 1.25rem;
  --text-2xl--line-height: 1.75rem;
  --text-3xl: 1.25rem;
  --text-3xl--line-height: 1.75rem;
  --text-4xl: 1.25rem;
  --text-4xl--line-height: 1.75rem;
  --text-5xl: 1.25rem;
  --text-5xl--line-height: 1.75rem;
  --text-6xl: 1.25rem;
  --text-6xl--line-height: 1.75rem;
  --text-7xl: 1.25rem;
  --text-7xl--line-height: 1.75rem;
  --text-8xl: 1.25rem;
  --text-8xl--line-height: 1.75rem;
  --text-9xl: 1.25rem;
  --text-9xl--line-height: 1.75rem;

  /* Border Radius Constraints (not beyond rounded, which is 0.25rem) */
  --radius-md: 0.25rem;
  --radius-lg: 0.25rem;
  --radius-xl: 0.25rem;
  --radius-2xl: 0.25rem;
  --radius-3xl: 0.25rem;
  --radius-4xl: 0.25rem;
  --radius-full: 0.25rem;

  /* Shadow Constraints (not beyond shadow) */
  --shadow-md: var(--shadow);
  --shadow-lg: var(--shadow);
  --shadow-xl: var(--shadow);
  --shadow-2xl: var(--shadow);
}

body {
  font-family: var(--font-sans);
}