@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #0f172a;

  /* Brand colors based on logo (#262c91) */
  --color-brand-50: #eef0ff;
  --color-brand-100: #e0e4ff;
  --color-brand-200: #c7cdff;
  --color-brand-300: #a4adfc;
  --color-brand-400: #949cd4;
  /* LightVibrant */
  --color-brand-500: #5c64a5;
  /* Muted */
  --color-brand-600: #3b429f;
  --color-brand-700: #262c91;
  /* Vibrant Base */
  --color-brand-800: #1f2479;
  /* DarkMuted */
  --color-brand-900: #1b1f69;
  /* DarkVibrant */
  --color-brand-950: #0f1240;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans), ui-sans-serif, system-ui, sans-serif;
  --font-mono: var(--font-geist-mono), ui-monospace, SFMono-Regular, monospace;

  /* Adding custom colors */
  --color-brand-50: var(--color-brand-50);
  --color-brand-100: var(--color-brand-100);
  --color-brand-200: var(--color-brand-200);
  --color-brand-300: var(--color-brand-300);
  --color-brand-400: var(--color-brand-400);
  --color-brand-500: var(--color-brand-500);
  --color-brand-600: var(--color-brand-600);
  --color-brand-700: var(--color-brand-700);
  --color-brand-800: var(--color-brand-800);
  --color-brand-900: var(--color-brand-900);
  --color-brand-950: var(--color-brand-950);

  --color-primary: var(--color-brand-700);
  --color-primary-hover: var(--color-brand-800);
  --color-secondary: var(--color-brand-400);
}